.main-button-wrapper {
  display: flex;
  margin: 5px 0;
  justify-content: flex-start;
  align-items: center;
}

.load-item-button {
  margin-left: 10px;
}

.item-plan-name {
  position: absolute;
  top: 10px;
  right: 10px;
}
